.nav {
  margin-right: 4.5rem;
  height: 100vh;
  background: #00635d;
  position: relative;
}

@media screen and (max-width: 600px) {
  .nav {
    display: none;
  }
}

.navList {
  position: fixed !important;
  background: #00635d;
  width: 4.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  li {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    &:hover {
      color: #999;
      cursor: pointer;
    }
  }

  :first-child {
    margin-bottom: auto;
  }
  :last-child {
    margin-top: auto;
  }
}
