.grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas:
    "title title"
    "photo descr";
}

.title {
  grid-area: title;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: photo;

  img {
    border-radius: 50%;
    width: 50%;
  }
}
