.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "title title"
    "photo descr";
}

.title {
  grid-area: title;
}

.photo {
  grid-area: photo;
}
