.showcase {
  height: 100vh;
  /*
  background-image: url("../assets/img/showcase.png");
  background-size: cover;
  background-position-x: right;*/
  background: #222;
}

.title {
  position: absolute;
  top: 0;
  margin: 0;
  padding-top: 5rem;
  padding-left: 5rem;
  font-size: 6rem;
  color: #eee;
}
